@import "bootstrap";

body {
    color: #fff;
    background-color: #444;
}

// table {
//     min-height: 25em;
// }

.pagination a, .pagination span.current, .pagination span.gap {
    float: left;
    color: black;
    padding: 0 14px;
    line-height: 38px;
    border-left-width: 0;
    text-decoration: none;
    background-color: white;
    border: 1px solid #DDD;
}

.pagination {
    border-left: 1px solid #ddd;
    .first{
        padding : 0;
        float: none;
        border: none;
    }
    .prev {
        padding : 0;
        float: none;
        border: none;
    }
    .page{
        padding : 0;
        float: none;
        border: none;
    }
    .next{
        padding : 0;
        float: none;
        border: none;
    }
    .last{
        padding : 0;
        float: none;
        border: none;
    }
}

#notice {
    color: greenyellow;
    margin: 1em 0em;
}