<div class="navbar navbar-dark bg-dark" >
    <span>
        <%= link_to "Order", orders_path, class: "btn btn-dark" %>
        <%= link_to "Product", products_path, class: "btn btn-dark" %>
        <%= link_to "Brand", brands_path, class: "btn btn-dark" %>
        <%= link_to "History", histories_path, class: "btn btn-dark" %>
    </span>
</div>